@charset "utf-8";

// ver 1.3.0

/*-------------------------------
    Global Variable
-------------------------------*/

/*	function
-------------------------------*/
$trbl: (t:top, r:right, b:bottom, l:left);

/*	Breakpoint
-------------------------------*/
$breakpoints: (
    'xl': 'screen and (max-width: 1399px)',
    'lg': 'screen and (max-width: 1279px)',
	'md': 'screen and (max-width: 999px)',
	'sm': 'screen and (max-width: 767px)',
	'xs': 'screen and (max-width: 424px)'
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/*	Font Family
-------------------------------*/
$ff-sofia: 'sofia-pro', 'sans-serif';
$ff-en: 'garamond-premier-pro', 'serif';
$ff-mi: 'ten-mincho', 'serif';

/*	Color
-------------------------------*/
$colors: (
	'black': #000,
	'white': #fff,
	'green': #92adb0,
	'blue': #92a6b0,
	'pink': #e1a9a9,
	'lightgreen': #d1dbd8,
	'lightblue': #dadfe0,
	'red': #bd1b1b,
	'gray': #ececec,
	'lightgray': #f8f8f7,
	'darkgray': #bdbdbd,
);
$black: #000;
$white: #fff;
$green: #92adb0;
$blue: #92a6b0;
$pink: #e1a9a9;
$lightgreen: #d1dbd8;
$lightblue: #dadfe0;
$red: #bd1b1b;
$gray: #ececec;
$lightgray: #f8f8f7;
$darkgray: #bdbdbd;

/*-------------------------------
    @mixin
-------------------------------*/

/*	Arrow
-------------------------------*/
@mixin arrow($size, $weight, $color) {
	border-top: solid $weight $color;
	border-right: solid $weight $color;
	width: $size;
	height: $size;
	transform: rotate(45deg);
}