@charset "utf-8";

//Common
@import "_common";

/*-------------------------------
	header
-------------------------------*/

header {
	position: relative;
	z-index: 9997;
	transition: all 200ms cubic-bezier(.77,0,.175,1);
	width: 100%;
	position: fixed;
	background: $white;
	top: 0;
	left: 0;
	&.hide {
		opacity: 0;
		transform: translate(0, -100%);
	}
	#hd-main {
		padding: 30px 100px;
		margin: auto;
		height: 155px;
		@media screen and (max-width: 1250px) {
			padding: 30px 30px;
		}
		@include mq(md) {
			height: 60px;
			padding: 0 0 0 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		@include mq(sm) {
			padding: 0 0 0 20px;
		}
		.hd-upper {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-bottom: 10px;
			@include mq(md) {padding-bottom: 0;}
			.site-ttl {
				z-index: 1000;
				@include mq(md) {
					img {
						width: 328px;
						height: 32px;
					}
				}
				@include mq(sm) {
					img {
						width: 221px;
						height: 22px;
					}
				}
			}
			#sub-menu {
				ul {
					display: flex;
					align-items: center;
					li {
						color: $blue;
						position: relative;
						padding-left: 20px;
						margin-right: 25px;
						&::before {
							content: "";
							position: absolute;
							background: $blue;
							width: 10px;
							height: 1px;
							left: 0;
							top: 50%;
						}
						@media screen and (max-width: 1360px) {
							font-size: 12.5px;
							margin-right: 20px;
							padding-left: 15px;
							&::before {
								width: 5px;
							}
						}
					}
				}
				@include mq(md) {
					display: none;
				}
			}
			.hd-cv {
				position: relative;
				top: -25px;
				margin-left: 30px;
				@media screen and (max-width: 1360px) {
					margin-left: 10px;
				}
				@include mq(md) {
					display: none;
				}
				a  {
					transition: all .5s;
					color: $white;
					padding: 25px 30px 25px 70px;
					border-radius: 0 0 10px 10px;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						background: url(../img/base/ic-mail.png) 0 0 / 25px 15px;
						width: 25px;
						height: 15px;
						left: 30px;
						top: calc(50% - 8px);
					}
				}
				@media screen and (max-width: 1360px) {
					a {
						padding: 25px 15px 25px 48px;
						&::before {
							background: url(../img/base/ic-mail.png) 0 0 / 18px 11px;
							width: 18px;
							height: 11px;
							left: 18px;
							top: calc(50% - 6px);
						}
					}
				}
				.cv-application{
					background: $blue;
					margin-right: 10px;
					&:hover {
						transition: all .5s;
						background: #648698;
					}
				}
				.cv-contact{
					background: $pink;
					&:hover {
						transition: all .5s;
						background: #d18b8b;
					}
				}
			}
		}
		/* .scrolled */
		&.scrolled {
			top: 0;
			height: 155px;
			transition: all 0.5s;
			animation: fadeIn .1 ease 0s 1 normal;
			background: #ffffff;
			@keyframes fadeIn { 
				0% {opacity: 0}
				100% {opacity: 1}			  
			}
			@include mq(md) {
				height: 60px;
			}
			&::before {
				width: 100%;
			}
			#global-nav {
				a {
					color: $black;
					&::before {
						background: #00000020;
					}
				}
			}
		}
		#burger-trg {
			display: none;
			@include mq(md) { display: flex; }
			z-index: 9999;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-basis: 40px;
			width: 40px;
			height: 40px;
			padding-top: 4px;
			border-radius: 9999px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			right: 10px;
			.burger-ic {
				flex-basis: 9px;
				width: 24px;
				height: 24px;
				position: relative;
				&::before, &::after {
					content: "";
					background-color: $black;
					width: 14px;
					height: 2px;
					position: absolute;
					top: 1px;
					left: (24px - 14px) / 2;
					transition: all .2s;
					transform-origin: center center;
				}
				&::before { transform: translate(0, -4px); }
				&::after { transform: translate(0, 4px); }
			}
			//アクティブ処理
			&.act {
				.burger-ic {
					&::before { transform: translate(0, 0) rotate(-45deg); }
					&::after { transform: translate(0, 0) rotate(45deg); }
				}
			}
		}
	}
	#global-nav {
			z-index: 9998;			
			@include mq(md) {
				padding-right: 0;
			}
			> ul {
				display: flex;
				justify-content: space-between;
				margin: auto;
				height: 100%;
				@include mq(sm) {
					padding: 0 20px;
				}
				> li {
					height: 100%;
					width: 100%;
					padding: 10px 25px;
					position: relative;
					@media screen and (max-width: 1250px) {
						padding: 10px 10px;
					}
					&::before {
						content: "";
						position: absolute;
						background: url(../img/base/ic-hd-menu.png) 0 0 / 3px 9px;
						width: 3px;
						height: 9px;
						right: 0;
						bottom: 15px;
						@include mq(md) {
							display: none;
						}
					}
					&:first-child {
						padding-left: 25px;
						@media screen and (max-width: 1250px) {
							padding-left: 10px;
						}
						@include mq(md) {
							padding-left: 0;
						}
						&::after {
							content: "";
							position: absolute;
							background: url(../img/base/ic-hd-menu.png) 0 0 / 3px 9px;
							width: 3px;
							height: 9px;
							left: 0;
							bottom: 15px;
							@include mq(md) {
								display: none;
							}
						}
					}
					> a {
						border-radius: 3px;
						display: block;
						text-align: center;
						padding: 10px 0;
						width: 100%;
						font-size: 14px;
						line-height: 1;
						color: $black;
						letter-spacing: 0.15em;
						transition: background-color 200ms ease;
						&::before {
							content: "";
							position: absolute;
							background: #edf1f36e;
							border-radius: 10px;
							width: 0;
							height: 0;
							left: 0;
							top: 0;
							z-index: -1;
							transition: width 500ms ease-out;
						}
						&.act ,
						&:hover {
							text-decoration: none;
							position: relative;
							&::before {
								width: 100%;
								height: 100%;
								@include mq(md) {
									width: 0;
								}
							}
						}
					}
				}
			}
		@include mq(md) {
			display: none;
			background-color: #f8f8f8f2;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			height: auto;
			overflow: scroll;
			max-height: 100vh;
			padding-bottom: 70px;
			padding-top: 80px;
			> ul {
				display: block;
				max-height: calc(100vh - 65px);
				width: 100%;
				overflow: hidden;
				-webkit-overflow-scrolling: touch;
				border-top: 1px solid #ddd;
				> li {
					position: relative;
					width: 100%;
					padding: 0;
					> a {
						height: auto;
						display: block;
						width: 50%;
						float: left;
						font-size: 13px;
						padding: 18px 30px;
						text-align: left!important;
						border-bottom: 1px solid #ddd;
						@media screen and (max-width: 320px) {
							font-size: 13px;
						}
					}
					&:nth-child(2n+1) {
						>a {
							border-right: 1px solid #ddd;
						}
					}
				}
			}
		}
	}
}
#content {
	margin-top: 155px;
	@include mq(md) {
		margin-top: 60px;
	}
}

